{{define "content"}}
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
<center>
    <h3>WELCOME</h3>
    <div hx-ext="ws" ws-connect="/ws/{{.Table.InternalName}}/{{.PlayerIndex}}">
        <div id="notifications"></div>
        <div id="game-state">
            ...
        </div>
        <div id="announcements">

        </div>
        <form id="ws-form" ws-send>
            <div id="player-control">
                <button type="submit" name="start-roll" value="true">Roll</button>
            </div>
        </form>
    </div>
</center>

{{end}}


{{block "gameState" .}}
<div id="game-state">
    <div id="table-details">
        <h5>{{.Table.Name}}</h5>
        <p>
        <ul>
            <li>Current bet amount: {{.Table.BetHight}}</li>
            <li>Max bet hight: {{.Table.MaxBetHight}}</li>
            <li>The point: {{.Table.Point}}</li>
        </ul>

        </p>

        {{range .Table.Players}}
        <div class="player-card">
            <p>{{.Name}} -- {{.Wallet}} 
            -- {{.Bet}} -- {{.BetAmount}} -- 
            {{.LastRoll}} -- 
            {{ if .IsShooter }} <b> shooter </b>  {{end}} 
            </p>
        </div>
        {{end}}
    </div>
    <div id="player-controlls">
        <h1>{{.Player.Name}}</h1>
        <p>Coins: {{.Player.Wallet}}</p>
        
    </div>
</div>
{{end}}

{{block "bet" .}}
<div id="player-control">
    <input type="number" name="wager" min="{{.}}" placeholder="{{.}}">
    <div>
        <input type="radio" id="crap" value="crap" name="betfor" checked>
        <label for="crap">crap</label>
        <input type="radio" id="pass" value="pass" name="betfor">
        <label for="pass">pass</label>
    </div>
    <button type="submit" name="bet" hx-target="#player-control" hx-swap="innerHTML">Set Wager</button>
</div>
{{end}}

{{block "play" .}}
<div id="player-control">
    {{if .IsShooter}}
    <button type="submit" name="shooter-roll" hx-target="#player-control" hx-swap="innerHTML">Roll</button>
    {{ else }}
    <p>TEST</p>
    {{ end }}
</div>

{{end}}

{{block "reset" .}}
<div id="player-control">
    <button type="submit" name="start-roll" value="true">Roll to start</button>
</div>
{{ end }}


