{{define "content"}}
<center>
    <h1> Who goes for the next round?</h1>
    
    <ul id="main-menu">
        <li>
            <button id="create-btn" onclick="showStartForm()">
                <b>CREATE TABLE</b>
            </button>
            <form action="/create" method="post" id="new-table-form" style="display:none">
                <label for="player-name">Your name</label>
                <input id="player-name" name="player-name" type="text" autocomplete="off"><br>
                <label for="table-name">Table name</label>
                <input id="table-name" name="table-name" type="text" autocomplete="off"><br>
                <input type="submit">
            </form>
        </li>
        <li>
            <div id="table-list">
                <button hx-get="/showtables"
                        hx-target="#table-list"
                        hx-swap="outerHTML"
                        >
                        <b>SHOW TABLES</b>
                        <img class="htmx-indicator" src="/public/tail-spin.svg">
                </button>
            </div>
        </li>
    </ul>
</center>

<style>
input:checked + #show-thing { display: none; }

</style>

{{end}}

{{block "activeTables" .}}
    {{if eq (len .) 0}} 
        <p>Currently we have no active tables, but you can created one.</p> 
    {{end}}

    {{range $key, $value := .}}
    <div id="join-container">
        <button
                hx-get="/join-table-form/{{ $key }}"
                hx-target="#join-container"
                hx-swap="outerHTML"
                >
            {{ $value }}
        </button>
    </div>
    {{end}}
{{end}}

{{block "joinForm" .}}
<form action="/game/{{.InternalName}}" method="post" id="join-table-form">
    <label for="player-name">Your name</label>
    <input id="player-name" name="player-name" type="text" autocomplete="off"><br>
    <input type="submit">
</form>
{{end}}


